<nav class="navbar">
  <ul>
    <li><a routerLink="/home" routerLinkActive="routerLinkActive">home</a></li>
    <li><a routerLink="/list" routerLinkActive="active">Liste</a></li>
    <li><a routerLink="/project" routerLinkActive="active">Projekt</a></li>
  </ul>
</nav>


<header>

  <nav id="normal">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">home</a></li>
      <li><a routerLink="/profil" routerLinkActive="active">Profil</a></li>
      <li><a routerLink="newproject" routerLinkActive="active">Neues Projekt</a></li> 
      <li *ngIf="isAdmin"><a routerLink="/list" routerLinkActive="active">Projekte</a></li> 
      <li *ngIf="isAdmin"><a routerLink="/nutzer" routerLinkActive="active">Nutzer</a></li> 
    <ul>
  
      </ul>
    </ul>
  </nav>

  <nav id="mobile">
    <div id="menu">Menü</div>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">home</a></li>
      <li><a routerLink="/list" routerLinkActive="active">Liste</a></li>
      <li>
        <ul>
          <li><a routerLink="/project" routerLinkActive="active">Projekt</a></li>
        </ul>
      </li>
      <li><a routerLink="/project" routerLinkActive="active">Projekt</a></li>
    </ul>
  </nav>

</header>

  
<router-outlet></router-outlet>

