<nav class="navbar">
  <ul>
    <li><a routerLink="/home" routerLinkActive="routerLinkActive">home</a></li>
    <li><a routerLink="/list" routerLinkActive="active">Liste</a></li>
    <li><a routerLink="/project" routerLinkActive="active">Projekt</a></li>
  </ul>
</nav>


<header>

  <nav id="normal">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">home</a></li>
      
      <li><a routerLink="/list" routerLinkActive="active">Projektliste</a></li>
      <li>
        <a href="">Admin</a>
        <ul>
         
          <li><a routerLink="/project" routerLinkActive="active">Projekt</a></li>
        </ul>
      </li>
      <li><a routerLink="/project" routerLinkActive="active">Projekt</a></li>
   
      <ul>
  
      </ul>
    </ul>
  </nav>

  <nav id="mobile">
    <div id="menu">Menü</div>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">home</a></li>
      <li><a routerLink="/list" routerLinkActive="active">Liste</a></li>
      <li>
        <a href="">Admin</a>
        <ul>
          <li><a routerLink="/project" routerLinkActive="active">Projekt</a></li>
        </ul>
      </li>
      <li><a routerLink="/project" routerLinkActive="active">Projekt</a></li>
    </ul>
  </nav>

</header>
<div class="content">

<router-outlet></router-outlet>

</div>