.head {
    background-color: #ddd;
}
h1 {
    font-family: Roboto;
    color: #556770;
    font-weight: 1000;
    font-size: 4rem;
}
h2 {
    font-family: Roboto;
    color: #556770;
    font-weight: 1000;
    font-size: 3rem;
}
img {
    width: 4rem;
    height: 4rem;
    position: relative;
    margin-left: 95%;
    margin-bottom: 1rem;

}
.ca {
    z-index: 0;
}
.bu {
    transition: 200ms;
    background-color: #33455e;
    margin-left: 3px;
    margin-right: 3px;
}
.de-bu {
    transition: 200ms;
    background-color: #556770;
    margin-left: 3px;
    margin-right: 3px;
}
.bu:hover {
    transform: scale(1.02);
    color: white;
}
.ku {
    font-weight: 500;
}