.box {
    width: 50%;
    height: 50%;
}

.loader-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loader-1 .loader {
    width: 5rem;
    height: 5rem;
    position: relative;
}
.loader-1 .loader .loader-ball-1 {
position: absolute;
top: 1rem;
left: 1rem;
background-color: black;
border-radius: 50%;
width: 3rem;
height: 3rem;
animation: move 4s infinite alternate;
}

.loader-1 .loader .loader-ball-2 {
position: absolute;
top: 1rem;
left: 1rem;
background-color: black;
border-radius: 50%;
width: 3rem;
height: 3rem;
animation: move 4s infinite alternate-reverse;
}
p { 
text-align: center;
text-transform: uppercase;
color: white;
letter-spacing: 0.8rem;
font-size: 1.2rem;
}

@keyframes move {
0% {transform: translateX(-300%), scale(1)}
25% {transform: translateX(0), scale(0.5)}
50% {transform: translateX(300%), scale(1)}
75% {transform: translateX(0), scale(0.5)}
100% {transform: translateX(-300%), scale(1)}
}