<div class="container">
    <div class="col-md-6 col-md-offset-3 loginBox">
        Welcome,  {{id}}
        <a href="javascript:void(0);" (click)="logout()">Logout</a>
    </div>

    <div class="topnav">
        <input type="text" placeholder="Search..">
      </div> 

<!-- <input type="text" (keyup)="onKeyUp()" (input)="color=$event.target.value" [style.background-color]="color"> -->

<h1>Meine Projekte:</h1>

<div class="projekt" *ngFor="let project of projects" style="margin-top:10px;">
    <div *ngIf="project; else loading"></div>
   <h2>{{project.name}}</h2>
   <p>{{project.bezeichnung}}</p>
   <div class="container">
    
    <!-------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------->
    <!-------------------------------------AUFGABEN VON PROJEKT----------------------------------->
    <!-------------------------------------------------------------------------------------------->

    <div class="ca card" *ngFor="let aufgabe of aufgaben; index as i" style="margin-top:10px;">
        <div *ngIf="aufgaben; else loading"></div>
        
     <div class="card-header"><b> #{{i+1}}   {{aufgabe.titel}}</b> </div> 
     <div class="ku card-body"> <b>Kurzbeschreibung:</b> {{aufgabe.beschreibung}} </div> 
  
    <div class="card-body"><b>geplante Zeit:</b>    {{aufgabe.sollZeit}} </div> 
    <div class="card-body">             <b>tatsächliche Zeit</b>  {{aufgabe.istZeit}}</div> 
       
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="de-bu btn btn-secondary">Detailansicht</button> 
        <button type="button" class="bu btn btn-secondary">Aufgabe zuweisen</button> 

        <button type="button" class="bu btn btn-secondary">Zuweisung entfernen</button>
        <button *ngIf="!aufgabe.erledigt" type="button" class="btn btn-success">Aufgabe erledigt</button>
      </div>

    <img *ngIf="aufgabe.erledigt" src="../../assets/icons/haken.png">  <!-- zeigt haken wenn erledigt == true -->

    <div  role="status" [hidden]="projects"> Keine Projekte gefunden </div> 
    </div>
    </div>
    
   <div  role="status" [hidden]="projects">
   Keine Projekte gefunden
  </div> 
</div>





<div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: {{zahl}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{zahl}}%</div>
  </div>
<ng-template #loading>
    <div>loading...</div>
</ng-template>

<div @fadeIn class="button">
    <a routerLink="/newproject" routerLinkActive="active" class="bu btn btn-secondary">neues Projekt anlegen</a>
</div></div>  

