    

<input type="text" (keyup)="onKeyUp()" (input)="color=$event.target.value" [style.background-color]="color">


<div *ngFor="let users of users" style="margin-top:10px;">
{{users.id}} {{users.name}} {{users.vorname}} {{users.pw}} 
</div>
<hr>
Meine Projekte:

<div *ngFor="let project of projects" style="margin-top:10px;">
    <div *ngIf="project; else loading">

    </div>
   {{project.name}}
    </div>

<div class="button">
    <a routerLink="/newproject" routerLinkActive="active">neues Projekt anlegen</a>
</div>

<hr>

<div class="container">
    <div class="col-md-6 col-md-offset-3 loginBox">
        Welcome,  {{id}}
        <a href="javascript:void(0);" (click)="logout()">Logout</a>
    </div>
</div>

<ng-template #loading>
    <div>loading...</div>
</ng-template>