.button a{
    margin: 10rem 0 5rem 10rem;
    padding: 1rem 2rem 1rem 2rem; 
    border: 2px solid #cecece;
    width: 250px;
    text-align: center;
    background-color: grey;
    border-radius: 1rem;
}

.button a:hover {
    background-color: #bbb;
}